// app global css in SCSS form

.footer_slider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  width: 85%;
  padding: auto auto auto auto;
}

.float {
  position: fixed;
  bottom: 20px;
  width: 94%;
  left: 3%;
  border-radius: 10px;
}
