.drawer-header-title {
  margin-top: 10px;
}

.header {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  p {
    color: var(--q-accent);
    font-size: 0.75rem;
  }
  .header_icon {
    font-size: 24px;
    color: var(--q-primary);
  }
}

.bottom {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  .version {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: max;
    margin-left: 15px;
    p {
      margin: 0px 0px 0px 0px !important;
    }
  }
  p {
    color: var(--q-accent);
  }
}

.q-item.q-router-link--active {
  color: var(--q-accent);
}

// .q-toggle__track {
//   box-shadow: inset 1px 1px 5px 1px #191919, inset -1px 0px 2px 2px #424040;
// }

// .q-toggle__thumb {
//   box-shadow: 1px 1px 5px 1px #191919, -1px 0px 2px 2px #424040;
// }

// .menu_icon {
//   color: var(--q-primary);
// }
